/README.md
/Test script/new.pwn
/Test script/pawn.ico
/Test script/pawnc.dll
/Test script/pawncc.exe
/Test script/pawno.exe
/Test script/samp-license.txt
/Test script/samp-npc.exe
/Test script/samp-server.exe
/Test script/server_log.txt
/Test script/settings.ini
/Test script/announce.exe
/Test script/libpawnc.dll
